* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Hassancont {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main_faq {
    width: 60%;
    height: 70vh;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Input {
    width: 80%;
    height: 20%;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid gray;
}

.Faqtext {
    background-color: #fff;
    outline: none;
    padding: 10px;
}

.Postfaqbtn {
    width: 90px;
    height: 60px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(245, 210, 11);
    color: #000;
}

.Newfaqcontainer {
    width: 100%;
    height: max-content;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    padding: 20px 0px 0px 10px;

}

.Faqlist {
    width: 21%;
    height: 40vh;
    padding: 0%;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.Faqlist li {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    /* justify-content: center; */
    margin: 0%;
    height: 25%;
    list-style-type: none;
    border: 1px solid rgb(218, 213, 213);
    border-collapse: collapse;
}

.Faqlist li:hover {
    cursor: pointer;
    color: rgb(250, 216, 21);
    background-color: rgb(32, 42, 51);
}

.Newfaqcontent {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.Saphilsellcontent {
    width: 50%;
    height: 100%;
    font-size: 16px;
}

.Orderedlist {
    padding: 0;
}

.Orderedlist li {
    margin: 0;
}



@media (max-width: 900px) {

    .Hassancont {
        height: 60vh;
    }


    .Main_faq {
        width: 100%;
        padding: 10px;
    }
    .Input {
        margin-top: 5px;
        width: 90%;
        height: 15%;

    }

    .Faqtext {
        width: 100%;
        height: 30vh;
    }

    .Newfaqcontainer {
        flex-direction: column;
        margin-left: 13px;
    }

    .Faqlist {
        width: 90%;
    }

    .Newfaqcontent {
        width: 90%;
    }

    .Saphilsellcontent {
        width: 90%;
    }
    
}
