@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

h1 h2 h3 h4 h5 h6 p span a {
  font-family: "Inter", sans-serif;
}

.Header {
  width: 100%;
  height: 100px;
  background-color: #380000;
  position: sticky;
  top: 0;
  z-index: 90000000;
}

header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.Logo img {
  width: 50px;
}

.Logo h3 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.Search {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
}

.Search select {
  padding: 10px;
  width: 80px;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
}

.Search input {
  width: 70%;
  height: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  margin: 0px 5px;
}

.Sicon {
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}

.HeaderIcon {
  /* width: 300px; */
  height: 40px;
  display: flex;
  align-items: center;
}

.IconAdd {
  width: 60px;
  position: relative;
}

.Log {
  width: 200px;
  display: flex;
  align-items: center;
}

.Log h6 a {
  font-size: 14px;
  color: white;
  width: 50px;
  margin: 0px 10px;
  text-decoration: none;
}

.Icons {
  font-size: 35px;
  color: white;
}

.NumAdd {
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffd703;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 25px;
  font-size: 12px;
}

.Mobile {
  display: none;
}

.MobileMenu {
  display: none;
}

.l {
  display: flex;
  flex-direction: column;
}

.IndexContainer {
  width: 100%;
  background-color: #ecebeb;
}

.TopContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

article {
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
}

.MenuDiv {
  width: 20%;
  height: max-content;
  background: white;
  margin-left: 10px;
  box-shadow: -5px -3px 21px -12px rgba(247, 247, 247, 0.28);
  -webkit-box-shadow: -5px -3px 21px -12px rgba(247, 247, 247, 0.28);
  -moz-box-shadow: -5px -3px 21px -12px rgba(247, 247, 247, 0.28);
  border: 1px solid rgb(189, 189, 189);
}

.Nav ul li {
  list-style-type: none;
  font-weight: 500;
  font-size: 15px;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: all 350ms;
}

.Nav ul li:hover {
  text-decoration: underline;
  transform: scale(1.03);
}

.Micon {
  margin-right: 10px;
  font-size: 20px;
}

.SliderDiv {
  width: 70%;
  height: 95%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

.Sliders {
  width: 95%;
  height: 99%;
  /* background: rgb(92, 2, 2); */
}

.Slid {
  width: 100%;
  height: 90%;
}

.Slid ul li button:before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}

.SliderImg {
  width: 100%;
  height: 60%;
}

.SliderImg img {
  width: 100%;
  height: 75vh;
}

.Slid .slick-prev:before,
.Slid .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.NewProduct {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  color: black;
  /* background: red; */
}

.NewProductAll {
  display: block;
  /* background: green; */
}

.NewProductHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.NewProductHead h6 {
  margin: 10px 20px;
  font-size: 20px;
  font-style: italic;
  color: rgb(52, 52, 52);
}

.NewProductHead span {
  margin: 10px 20px;
  font-size: 16px;
  font-style: italic;
  color: rgb(52, 52, 52);
  cursor: pointer;
  transform: scale(1);
  transition: all 350ms;
}

.NewProductHead span:hover {
  transform: scale(1.02);
  text-decoration: underline;
}

.NewPor {
  /* background: blue; */
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.ProductSlider {
  width: 90%;
  height: 100%;
  /* background: #000; */
}

.ProductSliderSlider {
  align-items: center;
  display: flex;
  padding: 5px;
}

.NewPrudCard {
  max-width: 90%;
  height: 47vh;
  margin-left: 10px;
  transition: all 0.1s ease;
  transform: scale(1);
  /* border: 1px solid rgb(49, 49, 49); */
}

.NewPrudCard:hover {
  box-shadow: 3px 2px 10px -2px rgba(226, 225, 225, 0.126);
  -webkit-box-shadow: 3px 2px 10px -2px rgba(168, 168, 168, 0.239);
  -moz-box-shadow: 3px 2px 10px -2px rgba(241, 237, 237, 0.131);
  transform: scale(1.02);
}

.ProductSliderSlider .slick-prev,
.ProductSliderSlider .slick-next{
  width: 50px;
  height: 50px;
  background-color: #380000;
  z-index: 2;
  border-radius: 50%;
}

.ProductSliderSlider .slick-prev:before,
.ProductSliderSlider .slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #380000;
  border-radius: 50%;
}

.ProductImg {
  width: 100%;
  height: 65%;
  background: #000;
  color: white;
}

.NewPrudCard h3 {
  font-size: 14px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 2;
  color: rgb(40, 40, 40);
}

.NewPrudCard span,
p {
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  color: rgb(40, 40, 40);
}

.ProductPriceDic {
  text-decoration: line-through;
  font-weight: 300;
  font-size: 14px;
}

.AddButton {
  font-size: 22px;
  padding: 5px;
}

.IconC {
  color: #380000;
  margin: 0px 5px;
  font-weight: 700;
  cursor: pointer;
}

.DelivCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Deliv {
  width: 90%;
  height: 30vh;
  background: #E3E3E3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.DelivIcon {
  font-size: 45px;
  font-weight: 800;
}

.DelivText {
  text-align: center;
}

.DelivText span {
  font-size: 20px;
  font-weight: 700;
}

.DelivC {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    color: black;
    /* background: red; */
    margin-bottom: 20px;
}

.Footer {
  width: 100%;
  height: 80vh;
  background: #000;
  color: white;
}

.TopFooter {
  width: 100%;
  height: 90%;
  /* background: green; */
}

.CONTACT {
  width: 40%;
  height: 90%;
  padding-top: 10px;
}

.CONTACT h4{
  margin: 20px;
  font-size: 20px;
}

.CONTACT span {
  margin-left: 20px;
  font-size: 15px;
  color: rgb(227, 221, 221);
}

.CONTACT h3 {
  font-size: 25px;
  margin-left: 20px;
}

.ButtomFooter {
  width: 100%;
  height: 8%;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartContainer {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.CartHeader {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CartHeader h2 {
  font-size: 55px;
}

.CartList {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.CartBody {
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.CartListHead {
  width: 100%;
  background-color: #E3E3E3;
  display: flex;
  padding: 20px;
}

.Prd {
  width: 40%;
  text-align: center;
}

.Prc {
  width: 20%;
  text-align: center;
}

.Qutt {
  width: 20%;
  text-align: center;
}

.CartPropsBody {
  width: 100%;
  height: max-content;
}

.CartPoprs {
  width: 100%;
  height: ;
}